#starry_sky, #starry_sky02 {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, rgb(47, 36, 128) 0%, rgb(111, 54, 123) 100%);
  overflow: hidden;
}

#starry_sky02 {
  top: -600px;  // work_top のtopと同じ数値を入れる（上げた分）
  @media screen and (max-width: 375px) {
    top: -350px;
  }
}

.starry_h_top {
  height: 100vh;
}

.star {
  background-color: white;
  position: relative;
  border-radius: 50%;
  animation-name: twinkle;
  animation-iteration-count: infinite;
}

@keyframes twinkle {
  50% {
    transform: scale(0.2);
  }
}

.fade {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1.5s, transform 1s;
}

.fade.active {
    opacity: 1;
    transform: translateY(0px);
}

// =====================================================
//  共通
// =====================================================

body {
  width: 100%;
  font-family: "Yu Gothic";
  font-size: 15px;
  line-height: 1.5rem;
  color: #010A39;
  @media screen and (max-width: 375px) {
    font-size: 14px;
  }
}

a {
  color: #fff;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  bottom: 14%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 2000;
  @media screen and (max-width: 375px) {
    font-size: 30px;
    bottom: 12%;
  }
}

h2 {
  font-size: 30px;
  font-weight: bold;
  @media screen and (max-width: 375px) {
    font-size: 26px;
  }
}

h3 {
  font-size: 24px;
  font-weight: bold;
  @media screen and (max-width: 375px) {
    font-size: 22px;
  }
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

li {
  list-style: none;
}

.container {
  padding: 130px 0;
}

.FCwhite {
  color: #fff;
}

.ttl {
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
}

// =====================================================
//  button
// =====================================================

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.MainBtn {
  width: 360px;
  height: 80px;
  margin: 50px auto 0;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 40px;
  text-align: center;
  background-image: url('../images/btn-next.png');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: right 20px center;
  @media screen and (max-width: 375px) {
    width: 295px;
    height: 60px;
    margin-top: 40px;
    font-size: 15px;
    background-size: 40px;
    background-position: right 15px center;
  }
}

// =====================================================
//  pagination
// =====================================================

.pagination {
  margin: 60px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 375px) {
    margin-top: 40px;
  }
}

.PaginationWrap {
  margin: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 375px) {
    margin: 0 20px;
  }

  .active {
    background-color: #fff;
    a {
      color: #010A39;
    }
  }
  p {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 10px;
    text-align: center;
    border-radius: 50%;
    background-color: transparentred;
    @media screen and (max-width: 375px) {
      width: 30px;
      height: 30px;
      line-height: 30px;
      margin: 0 8px;
    }
  }
}

.Pagebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  @media screen and (max-width: 375px) {
    gap: 0;
  }
}

.BtnPrev {
  width: 50px;
  height: 50px;
  background-image: url('../images/btn-prev.png');
  background-size: 50px;
  background-repeat: no-repeat;
  @media screen and (max-width: 375px) {
    width: 30px;
    height: 30px;
    background-size: 30px;
  }
}

.BtnNext {
  width: 50px;
  height: 50px;
  background-image: url('../images/btn-next.png');
  background-size: 50px;
  background-repeat: no-repeat;
  @media screen and (max-width: 375px) {
    width: 30px;
    height: 30px;
    background-size: 30px;
  }
}

.back {
  margin: 0 60px;
  text-decoration: underline;
  color: #fff;
  @media screen and (max-width: 375px) {
    margin: 0 50px;
  }
}

// =====================================================
//  header
// =====================================================

header {
  position: relative;
  button {
    position: absolute;
    top: 40px;
    right: 11%;
    @media screen and (max-width: 1440px) {
      right: 20px;
    }
    @media screen and (max-width: 768px) {
      top: 20px;
      right: 20px;
    }
  }
}

.hamburger {
  width: 60px;
  height: 60px;
  background-color: #FEA629;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  cursor: pointer;
  z-index: 10000;
  @media screen and (max-width: 375px) {
    width: 50px;
    height: 50px;
  }
}

.Headerspan {
  width: 24px;
  height: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  cursor: pointer;
  span {
    height: 3px;
    background-color: #010A39;
    display: block;
    transition: 0.3s ease;
  }
}

.HeaderWrap {
  position: fixed;
  top: 65px;
  right: 11%;
  width: 300px;
  padding: 15px 30px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
  z-index: 9999;
  @media screen and (max-width: 768px) {
    top: 50px;
    right: 20px;
  }
  @media screen and (max-width: 375px) {
    top: 45px;
    width: 280px;
    padding: 20px 40px;
  }
  &.active {
    opacity: 1;
    pointer-events: auto;
  }
  li {
    padding: 25px 0;
    border-bottom: 1px solid #DEDEDE;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease forwards;
    animation-delay: var(--delay);
  }
  li:nth-child(4) {
    border: none;
  }
  a {
    color: #010A39;
  }
}

.MenuItem {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
  animation-delay: var(--delay);
  a {
    display: block;
    color: #010A39;
    text-decoration: none;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// ---------- メニューが開いたときの変形（×） ----------

.hamburger.is-active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

.HeaderWrap.active {
    transform: translateX(0);
}

// ---------- メニューのアニメーション ----------

.HeaderMenu li:nth-child(1) {
    --delay: 0.1s;
}

.HeaderMenu li:nth-child(1) {
    --delay: 0.2s;
}

.HeaderMenu li:nth-child(1) {
    --delay: 0.3s;
}

.HeaderMenu li:nth-child(1) {
    --delay: 0.4s;
}

// =====================================================
//  MV
// =====================================================

.meandc {
  position: absolute;
  left: 12%;
  bottom: 25%;
  z-index: 2001;
  @media screen and (max-width: 375px) {
    max-width: 132px;
    left: 10%;
  }
}

// =====================================================
//  WORK
// =====================================================

.work_top {
  padding: 630px 0 220px;
  background-image: url(../images/deco-1-1.svg), url(../images/deco-1-2.svg),linear-gradient(1deg,rgba(32, 83, 75, 1) 0%, rgba(32, 83, 75, 1) 70%, rgba(105, 132, 83, 1) 100%);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top center, bottom center, center top 543px;
  position: relative;
  z-index: 1000;
  @media screen and (max-width: 375px) {
    padding: 400px 0 140px;
    background-image: url(../images/deco-1-1_sp.svg), url(../images/deco-1-2_sp.svg),linear-gradient(1deg,rgba(32, 83, 75, 1) 0%, rgba(32, 83, 75, 1) 70%, rgba(105, 132, 83, 1) 100%);
    background-position: top center, bottom center, center top 200px;
  }
}

.work_top {
  top: -600px;  // work_top のtopと同じ数値を入れる（上げた分）
  @media screen and (max-width: 375px) {
    top: -350px;
  }
}

.WorkWrap {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  @media screen and (max-width: 768px) {
    max-width: none;
    padding: 0 20px;
    gap: 20px;
  }
  @media screen and (max-width: 375px) {
    gap: 10px;
  }
}

.WorkBox {
  max-width: 31%;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  @media screen and (max-width: 896px) {
    max-width: 48%;
  }
  @media screen and (max-width: 789px) {
    max-width: 47%;
  }
  @media screen and (max-width: 539px) {
    max-width: 46%;
  }
  @media screen and (max-width: 414px) {
    max-width: 45%;
  }
  @media screen and (max-width: 375px) {
    max-width: 48%;
    padding: 10px;
    border-radius: 10px;
  }
  a {
    color: #010A39;
  }
  img {
    max-width: 100%;
  }
}

.tab-sp-none {
  @media screen and (max-width: 896px) {
    display: none;
  }
}

.TextBox {
  padding-top: 20px;
  @media screen and (max-width: 375px) {
    padding-top: 5px;
  }
  h3, p {
    padding-bottom: 15px;
    @media screen and (max-width: 375px) {
      padding-bottom: 5px;
    }
  }
  h3 {
    @media screen and (max-width: 375px) {
      font-size: 15px;
    }
  }
  p {
    @media screen and (max-width: 375px) {
      font-size: 12px;
    }
  }
}

.chicken {
  position: absolute;
  right: 3%;
  bottom: 50%;
  @media screen and (max-width: 1630px) {
    top: 20%;
    right: 5%;
  }
  @media screen and (max-width: 375px) {
    max-width: 60px;
  }
}

.PicImg {
  display: none;
  @media screen and (max-width: 1024px) {
    display: block;
    max-width: 25%;
    position: absolute;
    bottom: -7%;
    right: 5%;
  }
  @media screen and (max-width: 375px) {
    max-width: 38%;
  }
}

// =====================================================
//  About Me
// =====================================================

#aboutme {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.AboutWrap{ 
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  @media screen and (max-width: 1024px) {
    padding: 0 20px;
    display: block;
  }
}

.AboutBox {
  max-width: 800px;
  width: 100%;
  @media screen and (max-width: 1410px) {
    max-width: none;
  }
}

.AboutBoxTop {
  margin-bottom: 100px;
  @media screen and (max-width: 375px) {
    margin-bottom: 60px;
  }

  h2 {
    margin-bottom: 60px;
    @media screen and (max-width: 375px) {
      margin-bottom: 40px;
    }
  }
}

.AboutBoxBottom {
  h3 {
    margin-bottom: 50px;
    @media screen and (max-width: 375px) {
      margin-bottom: 40px;
    }
  }
  h4 {
    margin-bottom: 20px;
  }
}

.SkillBoxWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  @media screen and (max-width: 375px) {
    gap: 25px;
  }
}

.SkillBox {
  max-width: 48%;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid #8D6FA3;
  @media screen and (max-width: 1410px) {
    max-width: none;
  }
  @media screen and (max-width: 375px) {
    padding-bottom: 25px;
  }
}

h4::before {
  content: "";
  display: inline-block; /* ← 画像サイズ・マージン調整するために追加 */
  width: 20px;           /* 画像の幅 */
  height: 20px;          /* 画像の高さ */
  background-image: url(../images/kirakira.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  margin-right: 10px;
  @media screen and (max-width: 375px) {
    width: 18px;
    height: 18px;
    background-size: 18px;
  }
}

.AboutImg {
  padding-left: 100px;
  position: relative;
  z-index: 1001;
  @media screen and (max-width: 1024px) {
    position: static;
    padding-left: 0px;
  }
}

.EarthImg {
  display: none;
  @media screen and (max-width: 1024px) {
    display: block;
    max-width: 15%;
    position: absolute;
    top: 24%;
    right: 5%;
  }
  @media screen and (max-width: 375px) {
    max-width: 22%;
    top: 27%;
  }
}

.RightImg {
  max-width: 520px;
  position: relative;
  z-index: 1002;
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.ContactImg {
  max-width: 40%;
  position: absolute;
  right: 50%;
  bottom: -7%;
  z-index: 1003;
  @media screen and (max-width: 1410px) {
    bottom: 20%;
  }
  @media screen and (max-width: 1024px) {
    max-width: 30%;
    right: 0;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
  }
  @media screen and (max-width: 375px) {
    max-width: 40%;
    bottom: -3%;
  }
}

// =====================================================
//  footer
// =====================================================

footer {
  padding: 60px 0;
  background-color: #010A39;
  @media screen and (max-width: 375px) {
    padding: 40px 20px;
  }
}

.footer_top {
  position: relative;
  top: -600px;  // work_top のtopと同じ数値を入れる（上げた分）
  @media screen and (max-width: 375px) {
    top: -350px;
  }
}

.FooterWrap {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    max-width: none;
  }
  @media screen and (max-width: 375px) {
    display: block;
    justify-content: baseline;
    font-size: 12px;
  }

  ul {
    max-width: none;
    display: flex;
    gap: 50px;
    @media screen and (max-width: 375px) {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
  }
  p {
    @media screen and (max-width: 375px) {
      margin-top: 20px;
      text-align: center;
    }
  }
}

small {
  font-size: 12px;
  color: #fff;
  @media screen and (max-width: 375px) {
    font-size: 10px;
  }
}

// =====================================================
//  work.html
// =====================================================

.work {
  width: 100%;
  padding: 130px 0 350px;
  background-image: url(../images/deco-2.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3000;
  @media screen and (max-width: 375px) {
    padding: 100px 0 200px;
    background-image: url(../images/deco-2_sp.svg);
  }
}

.chicken_2 {
  position: absolute;
  left: 12%;
  bottom: 10%;
  z-index: 4000;
  @media screen and (max-width: 1180px) {
    bottom: 18%;
  }
  @media screen and (max-width: 1000px) {
    bottom: 18%;
  }
  @media screen and (max-width: 375px) {
    bottom: 41%;
    max-width: 60px;
  }
}

// =====================================================
//  detail.html
// =====================================================

.detail {
  width: 100%;
  padding: 130px 0 350px;
  background-image: url(../images/deco-2.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4000;
  @media screen and (max-width: 375px) {
    padding: 100px 0 200px;
    background-image: url(../images/deco-2_sp.svg);
  }
}

.DetailWrap {
  padding: 0 20px;
}

.DetailInner {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
  @media screen and (max-width: 375px) {
    padding: 20px;
  }
  h2 {
    margin-bottom: 30px;
    text-decoration: underline;
    @media screen and (max-width: 375px) {
      margin-bottom: 20px;
      font-size: 20px;
    }
    a {
      color: #010A39;
    }
  }
  h2::after {
    content: "";
    display: inline-block; /* ← 画像サイズ・マージン調整するために追加 */
    width: 20px;           /* 画像の幅 */
    height: 20px;          /* 画像の高さ */
    background-image: url(../images/open_in_new_24dp_FILL0_wght400_GRAD0_opsz24.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    margin-left: 20px;
    @media screen and (max-width: 375px) {
    width: 18px;
    height: 18px;
    background-size: 18px;
    margin-left: 10px;
    }
  }
  p {
    margin-bottom: 30px;
    @media screen and (max-width: 375px) {
      margin-bottom: 20px;
    }
  }
}

.DetailItem {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag {
  padding: 8px 10px;
  background-color: #2F2480;
  border-radius: 30px;
  font-size: 13px;
  color: #fff;
}

.DetailImg {
  padding: 50px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F4FA;
  @media screen and (max-width: 375px) {
    padding: 20px;
  }
  img {
    max-width: 100%;
  }
}

.chicken_3 {
  position: absolute;
  right: 19%;
  bottom: 30%;
  z-index: 4000;
  @media screen and (max-width: 925px) {
    bottom: 34%;
  }
  @media screen and (max-width: 750px) {
    bottom: 38%;
  }
  @media screen and (max-width: 560px) {
    bottom: 43%;
  }
  @media screen and (max-width: 375px) {
    bottom: 58%;
    max-width: 60px;
  }
}

/*# sourceMappingURL=style.css.map */